


<div class="px-4 py-5 my-1 text-center banner">
  <%= image_tag('potato-logo2.png', size: '120x120') %>  
  <h1 class="display-5 fw-bold text-body-emphasis">CryptoWalletPotato</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><%= t('descIndex') %></p>

  </div>
</div>
  <%= render partial:'hour' %>
<p>Voce está no ambiente de <strong><%= rails_ambient_ptbr %></strong></p>
