    <header>
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to t('title.index'), root_path, class:"nav-link"%></li>
        <li class="nav-item"><%= link_to t('title.coinPage'), coins_path, class:"nav-link"%></li>
        <li class="nav-item"><%= link_to t('title.minerPage'), mining_types_path, class:"nav-link"%></li>
      </ul>
    </header>