
<div id="<%= dom_id coin %>" class="coin">

  <p>
    <%= image_tag coin.url_image, width: 25%>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </p>


</div>
