
<p style="color: green"><%= notice %></p>

<h1 style="text-align:center">Crypto Page List</h1>

<h2> <%= cookies[:curso] %></h2>
<%= button_to new_coin_path, method: :get, class: "btn btn-success" do %>
  Nova Cripto
<% end %>

<div id="coins" style= 'display:flex;'>
  <% @coins.each do |coin| %>
    <%= render coin %>
  <% end %>
  <div class="new_coin">

</div>

</div>

